*{
	margin:0;
	padding: 0;
}


.material-icons.md-18{ 
	font-size: 18px;
	vertical-align: middle;
	color: #fff;
}

.center{
	padding-left: 168px;
}

.top-header{
	height: 50px;
	align-content: center;
	background-color: #ffc04d;
}

.top-header ul:second-child{
	margin-left: 150px;
}

.top-header li{
	font-family: 'Montserrat', sans-serif;
	padding-top: 15px;
	display: inline-block;
	color:#fff;
	padding-left: 80px;
	font-size: 15px;
}

.top-header li:last-child{
	padding-left: 650px;
	padding-top: 10px;
}

.middle-header{
	height: 150px;
	background-color: #262626;
}

.middle-header ul{
	padding-left: 237px;
	padding-top: 45px;
}

.middle-header ul li:first-child{
	margin-left: 10px;
}

.middle-header ul li:nth-child(6){
	border:2px solid #fff;
	border-radius: 50px;
	margin-left: 450px;
	padding: 10px;
}
.middle-header li{
	display: inline-block;
	margin-left: 15px;
}

.middle-header li a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #fff;
}

.middle-header li a:hover{
	color: #ffc04d;
}

.middle-header li:nth-child(6) a{
	font-size: 13px;
}

.middle-header ul li:last-child{
	vertical-align:middle;
}

.middle-header .imge{
	border:2px #fff solid;
	border-radius: 50%;
}

.header-banner{
	background:
	linear-gradient(
		rgba(0,0,0,.45),
		rgba(0,0,0,.45)
		), url("slide-1.jpg");
	background-position: center;
	height: 395px;
	width: 100%;
	position: relative;
}

/*.arrow-down {
	padding-left: 100px;
	padding-right: 100PX;
  width: 0; 
  height: 0; 
  border-left: 20px solid #000;
  border-right: 20px solid #000;
  border-top: 20px solid transparent;
}*/

.logo{
	padding-left:760px;
	padding-top: 65px; 
}

.search{
	padding-left: 500px;
}

input{
	padding-left: 12px;
	margin-top: 50px;
	border-radius: 0px;
	border-style: none;
	margin-left: 50px;
	width: 425px;
	height: 45px;
	border-radius: 3px;
}

button{
	display: inline-block;
	margin-left: -2px;
	border-radius: 2px;
	width: 90px;
	height: 45px;
	border-style: none;
	background-color: #a93434;
	color: #fff;
}

.header-banner h2{
	padding-top: 30px;
	padding-left: 700px;
	color:#fff;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

.info h1{
	padding-top: 50px;
	font-size: 18px;
	text-align: center;
	padding-bottom: 25px;
}

.info p{
	color: #787878;
	text-align: center;

}

.products-container{
	width: 1200px;
	margin-left: 250px;
}

.prod h1{
	font-size: 18px;
}

.spacer{
	padding-top: 100px;
}

.column-one,
.column-two {
    float: left;
    width: 50%;
    height: 350px;
}

.column-one{
	background:
	linear-gradient(
		rgba(255,127,0,.7),
		rgba(255,127,0,.7)
		), url("slide-3.jpg");
	background-size: 100%;
}

.column-two{
	background-color: #959595;
}

.column-two h2,p{
	font-size: 15px;
	color:#fff;
}

.column-two h2{
	margin-top: 85px;
	margin-left: 55px;
}

.column-two p{
	margin-top: 25px;
	margin-left: 55px;
	line-height: 20px;
	font-weight: lighter;
}

.searchs input{
	padding-left: 12px;
	margin-top: 25px;
	border-radius: 0px;
	border-style: none;
	margin-left: 50px;
	width: 425px;
	height: 45px;
	border-radius: 3px;
}

.footer{
	height: 500px;
	background-color:#282327; 
}

.footer li{
	color: #fff;
	margin-top: 65px;
	display: inline-block;
}

.footer ul{
	margin-left: 350px;
}

.box{
	border:solid #000 solid;
	width: 315px;
	height: 350px;
	padding-top: 50px;
}

.box-top{
	border-radius: 2px;
	height: 240px;
	width: 100%;
	background-image: url(product-item-sample.jpg);
	background-size: 100%;
}

.box-top h3{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-left: 10px;
	padding-top: 200px;
}
.box-top .imge{
	position: absolute;
	margin-top: 20px;
	margin-left: 250px;
	border:2px #fff solid;
	border-radius: 50%;
}












